anyio
click
colorama
contourpy
cycler
fastapi
fonttools
h11
idna
joblib
kiwisolver
matplotlib
numpy
packaging
pandas
Pillow
pydantic
pyparsing
python-dateutil
pytz
scikit-learn
scipy
seaborn
six
sniffio
starlette
threadpoolctl
typing_extensions
tzdata
uvicorn
wordcloud
